<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183894934184-gi4tjjgrnq1oq6ug0h5nj26dsq03bvp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183894934184-gi4tjjgrnq1oq6ug0h5nj26dsq03bvp1</string>
	<key>API_KEY</key>
	<string>AIzaSyBwMYANH-8QCin2sRGMTTmryhufMajxTiU</string>
	<key>GCM_SENDER_ID</key>
	<string>183894934184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appProjetoItinerante</string>
	<key>PROJECT_ID</key>
	<string>servicos-itinerantes</string>
	<key>STORAGE_BUCKET</key>
	<string>servicos-itinerantes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183894934184:ios:235822519d19e9f509389d</string>
	<key>DATABASE_URL</key>
	<string>https://servicos-itinerantes-default-rtdb.firebaseio.com</string>
</dict>
</plist>